@(poll: PollModel, editPollForm: Form[models.PollModel], send: Boolean)

@import helper._

@main("Edit - " + poll.title) {
<header><h1>Poll Details</h1></header>

@if(send){
<div class="prompt">
	@if(editPollForm.errors.isEmpty){
		<p>Zmiany zostały zapisane</p>
	}
	@for(error <- editPollForm.errors){
		<p>Pole @error.key z błędem @error.message</p>
	}
</div>
}

@form(routes.Poll.polleditpost(poll.id)) {
	<div id="pollEdit">
		<input type="hidden" name="poll.id" value="@poll.id" />
		<div class="field">
			<label for="poll.title">Title:</label>
			<input type="text" name="poll.title" id="poll.title" value="@poll.title">
		</div>
		<div class="field">
			<label for="poll.description">Description:</label>
			<textarea name="poll.description" id="poll.description">@poll.description</textarea>
		</div>
		
		<div class="buttons">
			<input type="button" value="Edit Poll" class="button" disabled="disabled" />
			@if(poll.id > 0) {
			<input type="button" value="Show Statistics" class="button" onclick="location = '@routes.Poll.pollstat(poll.id)'" />
			} else {
			<input type="button" value="Show Statistics" class="button" disabled="disabled" />
			}
			
		</div>
		
		<div id="questions">
			<header>
				<h2>Questions and Answers:</h2>
			</header>
			@if(poll.questions.isEmpty) {
			<div class="question">
				<input type="text" name="poll.questions[0].question" class="questionInput" />
				<input type="hidden" name="questionCount" value="0" class="questionCount" />
				<div class="answersCont">
					<div class="field">
						<input type="checkbox" name="poll.questions[0].multiple" id="poll.questions[0].multiple" value="true" class="checkbox" />
						<label for="poll.questions[0].multiple" class="label_checkbox">Allow Multiple Answer Selection</label>
					</div>
					<div class="answers">
						<input type="text" name="poll.questions[0].answers[]" />
					</div>
				</div>
				<div class="questionsButtons">
					<input type="button" value="New Answer" class="button addAnswer" />
					<input type="button" value="Add New Question Bellow" class="button addQuestion" />
				</div>
			</div>
			}
			@for((question, i) <- poll.questions.zipWithIndex) {
			<div class="question">
				<input type="text" name="poll.questions[@i].question" value="@question.text" class="questionInput" />
				<input type="hidden" name="questionCount" value="@i" class="questionCount" />
				<div class="answersCont">
					<div class="field">
						<input type="checkbox" name="poll.questions[@i].multiple" id="poll.questions[@i].multiple" value="true" class="checkbox" @if(question.multiple){checked="checked"} />
						<label for="poll.questions[@i].multiple" class="label_checkbox">Allow Multiple Answer Selection</label>
					</div>
					<div class="answers">
						@for(answer <- question.answers) {
						<input type="text" name="poll.questions[@i].answers[]" value="@answer" />
						}
					</div>
				</div>
				<div class="questionsButtons">
					<input type="button" value="New Answer" class="button addAnswer" />
					<input type="button" value="Add New Question Bellow" class="button addQuestion" />
				</div>
			</div>
			}
		</div>
		<div class="buttons">
			<input type="submit" value="Save Changes" class="button">
			<input type="button" value="Discard Changes" onclick="location = '@routes.Application.admin'" class="button">
		</div>
	</div>
}
}