@(polls: List[PollModel])

@main("a") {
	<header><h1>Admin Panel</h1></header>
	
	<input type="button" value="Create new poll" onclick="location = '@routes.Poll.pollnew'">
	<div class="pollsList">
		<table>
			@for((poll, i) <- polls.zipWithIndex) {
			<tr>
				<td>@poll.title</td>
				<td><input type="button" value="edit" onclick="location = '@routes.Poll.polledit(poll.id)'"></td>
				<td><input type="button" value="statistics" onclick="location = '@routes.Poll.pollstat(poll.id)'"></td>
			</tr>
			}
		</table>
	</div>
	<a href="@routes.Application.index">Back to main</a>
}